#root {
    min-height: 100vh;
}
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Bodoni MT";
    color: silver;
    background-color: black;
}

div.main {
    min-height: 85vh;
}
.errorDiv{
    padding-top: 10%;
}
th {
    column-span: 2;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}
.uploadingFile{
    color: silver;
    border: 5px solid;
    background-color: darkslateblue;
    border-radius: 10px;
    width: inherit;
    margin: auto;
    font-size: 30px;
    align-items: center;
    align-self: center;
    text-align: center;
}
.container{
    width: fit-content;
    margin: auto;
    align-self: center;
}
textarea{
    resize: none;
    margin: 0;
    width: 95%;
    height: 50px;
}

table {
    width: 100%;
    border: 3px solid;
    border-radius: 10px;
    background-color: darkslateblue;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
td {
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    font-style: italic;
    padding: 2px 10px;
}

td.alignCenter {
    text-align: center;
}

.bold {
    font-weight: bold;
}
.defaultButton:hover{
    cursor: pointer;
}

Button {
    align-content: center;
    border-radius: 10px;
    font-size: 20px;
}
Button:hover{
    cursor: pointer;;
}

.error {
    display: block;
    text-align: center;
    font-size: 34px;
    color: red;
}
.return{
    color: green;
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 36px;
}

input {
    font-family: "Roboto Thin";
    font-size: 18px;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkred;
}

Nav {
    height: 10vh;
    background-color: #000029;
    align-items: center;
}

.nav-link {
    float: left;
    font-size: 25px;
    margin-bottom: auto;
    padding-right: 15px;
    margin-top: 3vh;
    color: green;
    text-decoration: none;
}

.right {
    float: right;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: #000029;
}
.footer-label {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
    height: 100%;
    width: 100%;
    text-align: center;
}